.main-inner {
  background: #f5f7f9;
  padding: 0;
}

.post-block:first-of-type {
  //margin-top: 12px;
  padding-top: 40px;
}

.post-block {
  background: white;
  padding-top: 40px;
}

.post-body {
  padding: 20px;
}

.post-block {
  margin-bottom: 12px;
}

.posts-expand .post-header {
  margin-bottom: 0;
}

.post-footer {
  display: none;
}

.pagination {
  border-top: 0;
  margin: 0 0 0;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #FFFFFF;
}
